// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HERO FORM
.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.hero-form h3 {
  text-align: center;
}

.hero-form_radio {
  display: none;
}

.hero-form_radio + label {
  filter: saturate(0);
  cursor: pointer;
}

.hero-form_radio:checked + label {
  filter: saturate(1);
}

.hero-form_input {
  display: flex;
  background-color: #ddd;
  padding: 3px;
  border-radius: 3px;
  margin: 5px;
}

.hero-form_input div {
  margin: 4px;
  width: 52px;
  height: 52px;
}
