// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HERO FORM
.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.hero-form h3 {
  text-align: center;
}

.hero-form_radio {
  position: absolute;
  height: 0;
  width: 0;
}

.hero-form_radio + label {
  filter: saturate(0.2);
  cursor: pointer;
}

.hero-form_radio:checked + label {
  filter: saturate(1);
}

.hero-form_radio:not(:checked):hover + label {
  filter: saturate(1);
}

.hero-form_input {
  display: flex;
}

.hero-form_input > div {
  margin: 4px;
  width: 52px;
  height: 52px;
}

.hero-form_vertical {
  flex-direction: column;
}

.hero-form_two-inputs {
  display: flex;
}

.hero-form_three-inputs {
  display: flex;
  align-items: center;
}

.hero-form_name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-form_name > input {
  padding: 3px;
  margin: 3px;
  border: 2px solid #006;
}

.hero-form_race-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.hero-form_race-modal > div {
  margin: 5px;
  width: 52px;
  height: 52px;
}

.hero-form_close-modal {
  position: absolute;
  bottom: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #003;
  cursor: pointer;
}

.hero-form_close-modal:hover {
  background-color: rgba(255, 255, 255, 1);
}

.hero-form_preview {
  position: relative;
  width: 96px;
  height: 96px;
}

.hero-form_preview_base {
  top: 0;
  left: 0;
  position: absolute;
}
.hero-form_preview_gear {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

#hero-submit-button {
  cursor: not-allowed;
}

// HERO DISPLAY
.hero-display {
  position: relative;
  width: 96px;
  height: 96px;
}

.hero-display_base {
  top: 0;
  left: 0;
  position: absolute;
}

.hero-display_gear {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

// HERO INDEX

.hero-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-selection > div {
  flex-basis: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}